<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet" type="text/css">
    <link href="/public/css/app.css?v=1.0" rel="stylesheet">
    <script src="/public/js/script.js"></script>
    <title>ECOSHOP product Detail</title>
</head>
<body>
<header>
    <div class="header-top">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="/public/img/logo.png">
                </a>
            </div> <!--Termina el DIV DEL LOGO-->
            <nav class="navegador">
                <div class="navegador1">
                    <ul>
                        <li>
                            <a href="/">HOME</a>
                        </li>

                        <li>
                            <a href="/productos">PRODUCTOS</a>
                        </li>
                       
                    </ul>
                </div> <!-- Cierra el div del PRIMER NAVEGADOR -->
                <div class="navegador2">
                    <ul>
                        <li class="dropdown user-acc"> 
                            <a href="/registro">
                                <i class="far fa-user hombre"></i>
                            </a>
                        </li>

                        <li class="dropdown user-acc"> 
                            <a href="/cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>

                    
                    </ul>
                </div>
            </nav>
            <div class="boton-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
    </div> <!--header-top-->
</header>
<section class="form-login">
    <form id="frm" method="post">
        <h1>Login</h1>
        <div class="row">
            <span><i class="fas fa fa-user"></i></span>
            <input type="text" name="email" placeholder="E-mail">
        </div>
        <div class="row">
            <span><i class="fas fa fa-lock"></i></span>
            <input type="password" name="password" placeholder="Contraseña">
            
        </div>
        <div class="row">
            <input type="submit" value="Ingresar"/>
        </div>
        <div class="row forgot-password">
            <a href="/registro">Registrarse</a>
        </div>
    </form>
</section>

  <footer class="footer">
      <div class="footer__container">
          <div class="footer__info">
              <img src="/public/img/logo-foot.png">
              <p>
                <i class="fas fa-map-marker-alt"></i>
                Street No. 12, Newyork 12,
                <br>
              </p>
              <p>
                <i class="fas fa-phone-alt"></i>
                1.800.123.456789
              </p>
              <p>
                <i class="fas fa-envelope"></i>
                info@ecoshop.com
              </p>
          </div> <!--DIV footer__info-->
          <div class="footer__info2">
                <h6>Shop</h6>
                <ul class="link">
                    <li><a href="#.">About Us</a></li>
                    <li><a href="#.">Career</a></li>
                    <li><a href="#.">Shipping Methods</a></li>
                    <li><a href="#.">Contact</a></li>
                    <li><a href="#.">Support</a></li>
                    <li><a href="#.">Retailer</a></li>
                  </ul>
          </div> <!--DIV footer__info2-->

          <div class="footer__info2">
            <h6>MY ACCOUNT</h6>
            <ul class="link">
                <li><a href="#.">Login</a></li>
                <li><a href="#.">My Account</a></li>
                <li><a href="#.">My Cart</a></li>
                <li><a href="#.">Wishlist</a></li>
                <li><a href="#.">Checkout</a></li>
              </ul>
      </div>
      </div>
  </footer>
</body>
</html>