<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet" type="text/css">
    <link href="/public/css/app.css?v=1.0" rel="stylesheet">
    <title>ECOSHOP - Wood Chair</title>
</head>
<body>
<header>
    <div class="header-top">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="/public/img/logo.png">
                </a>
            </div> <!--Termina el DIV DEL LOGO-->
            <nav class="navegador">
                <div class="navegador1">
                    <ul>
                        <li>
                            <a href="/">HOME</a>
                        </li>
                        <li>
                            <a href="/productos">PRODUCTOS</a>
                        </li>
                        <li>
                            <a href="/nosotros">NOSOTROS</a>
                        </li>
                        <li>
                            <a href="/contacto">CONTACTO</a>
                        </li>
                    </ul>
                </div> <!-- Cierra el div del PRIMER NAVEGADOR -->
                <div class="navegador2">
                    <ul>
                        <li class="dropdown user-acc"> 
                            <a href="/registro">
                                <i class="far fa-user hombre"></i>
                            </a>
                        <li class="dropdown user-acc"> 
                            <a href="/cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        <li class="dropdown user-acc"> 
                            <a href="/buscar">
                                <i class="fas fa-search"></i>
                            </a>
                    </ul>
                </div>
            </nav>
            <div class="boton-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
    </div> <!--header-top-->
</header>
<section class="banner">
    <div class="banner-info">
      <div class="container-banner">
        <h4>WOOD CHAIR</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="#">HOME</a></li>
          <i class="far fa-arrow-alt-circle-right"></i>
          <li><a href="#">DATA</a></li>
        </ol>
      </div>
    </div>
  </section> <!-- Termina SECTION BANNER-->



<section class="products">

    <div class="container-producto">
            <div class="imagen-producto">
                <img src="/public/img/chair1.jpg">
            </div>
        <div class="prod-desc">   

           <div class="descripcion-producto">
                <h4> WOOD CHAIR</h4>
                <span class="precio"><small>$</small>299</span>
                <div class="on-sale"> 10% <span>OFF</span> </div>
                <ul class="item-owner">
                <li>Designer :<span> ABC Art</span></li>
                <li class="brand">Brand:<span> LimeWood</span></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam laoreet tortor ac maximus alique met, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam 
                </p>
            </div>

            <div class="selectores-botones">
        

                <div class="selectores">
    
                    <div class="selector">
                        <select name="Cantidad" class="selector-cantidad">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select> 
                    </div>
    
                    <div class="selector-color">
                        <ul>
                            <li><span>Colores:</span></li>
                            <li><a href="#"><i class="fas fa-circle c-1"></i></a></li>
                            <li><a href="#"><i class="fas fa-circle c-2"></i></a></li>
                            <li><a href="#"><i class="fas fa-circle c-3"></i></a></li>
                            <li><a href="#"><i class="fas fa-circle c-4"></i></a></li>
                            <li><a href="#"><i class="fas fa-circle c-5"></i></a></li>
                            <li><a href="#"><i class="fas fa-circle c-6"></i></a></li>
                            <li><a href="#"><i class="fas fa-circle c-7"></i></a></li>
                        </ul>
                    </div>
    
                </div><!-- DIV SELECTORES-->
    
                <div class="botones">
                    <div class="boton">
                        <button name="addtocart" type="button">Add to cart</button>
                    </div>
    
                    <div>
                        <a href="#." class="like">
                        <i class="far fa-heart"></i>
                        </a>
                    </div>
                </div>  <!-- DIV BOTONES-->


                <div class="informacion">
                    <h6>DELIVERY INFORMATION</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam laoreet tortor ac maximus alique met, consectetur adipiscing elit.</p>
                    <h6>SHIPPING & RETURNS</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam laoreet tortor ac maximus alique met, consectetur adipiscing elit.</p>
                    <h6>SHARE THIS PRODUCT</h6>
                </div>  <!-- DIV INFORMACION-->

                <div class="redes">
                    <ul class="social_icons">
                    <li><a href="#."><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#."><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#."><i class="fab fa-tumblr"></i></a></li>
                    <li><a href="#."><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#."><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>

        </div> <!-- DIV  PRODUCTO-SELECTORES-->

    </div> <!-- DIV CONTEINER PRODUCTO-->

            <div class="descripcion"> 
                <ul class="descripcion__lista">
                <li><a href="#">DESCRIPTION</a></li>
                <li ><a href="#">REVIEW</a></li>
                <li ><a href="#">INFORMATION</a></li>
                </ul>
            </div>
            <div class="descripcion__parrafo">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias beatae corrupti distinctio officia rem optio, autem quod. Quas, deleniti. Consequatur recusandae mollitia esse tempora officia fuga praesentium. Assumenda, fugit deserunt.</p>
            </div>
</section>

<section class="recomendacion">
        <div class="recomendacion__titulo">
            <h4>Productos que pueden gustarte</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus atque dolorum ea nesciunt rem veritatis adipisci cumque minima soluta recusandae provident id, distinctio totam amet nulla doloremque vero, asperiores debitis?</p>
        </div>

        <div class="contenedor-items">

            <div class="item"> 
                <div class="item-img"> 
                    <img class="img-1" src="/public/img/product-2.jpg" alt="">
                </div>
                     <!-- Item Name -->
                <div class="item-name"> 
                    <a href="#.">stone cup</a>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                    <!-- Price --> 
                <span class="price"><small>$</small>299</span>
            </div>
            
                <div class="item"> 
                    <div class="item-img"> 
                        <img class="img-1" src="/public/img/product-3.jpg" alt="">
                    </div>
                     <!-- Item Name -->
                    <div class="item-name"> 
                        <a href="#.">gray bag</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price --> 
                        <span class="price"><small>$</small>299</span>
                </div>

                <div class="item"> 
                    <div class="item-img"> 
                    <img class="img-1" src="/public/img/product-4.jpg" alt="">
                    </div>
                     <!-- Item Name -->
                    <div class="item-name"> 
                    <a href="#.">chair</a>
                    <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price --> 
                    <span class="price"><small>$</small>299</span>
                </div>

                <div class="item"> 
                    <div class="item-img"> 
                    <img class="img-1" src="/public/img/product-5.jpg" alt="">
                    </div>
                     <!-- Item Name -->
                    <div class="item-name"> 
                    <a href="#.">stool</a>
                    <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price --> 
                    <span class="price"><small>$</small>299</span>
                </div>
                
        </div> <!-- contenedor-items -->

  </section> <!-- TERMINA SECTION recomendacion-->
  <section class="about">
      <div class="about__cotainer">
            <div class="heading">
                <h4>about ecoshop</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, quod, minima illum perspiciatis inventore adipisci reiciendis iure deleniti magnam cum suscipit laboriosam officia accusantium eveniet distinctio atque omnis eos soluta!</p>
            </div>
            <ul class="social_icons">
                <li><a href="#."><i class="fab fa-facebook"></i></a></li>
                <li><a href="#."><i class="fab fa-twitter"></i></a></li>
                <li><a href="#."><i class="fab fa-tumblr"></i></a></li>
                <li><a href="#."><i class="fab fa-youtube"></i></a></li>
                <li><a href="#."><i class="fab fa-dribbble"></i></a></li>
              </ul>
      </div>
  </section> <!--Section ABOUT US-->
  <footer class="footer">
      <div class="footer__container">
          <div class="footer__info">
              <img src="/public/img/logo-foot.png">
              <p>
                <i class="fas fa-map-marker-alt"></i>
                Street No. 12, Newyork 12,
                <br>
              </p>
              <p>
                <i class="fas fa-phone-alt"></i>
                1.800.123.456789
              </p>
              <p>
                <i class="fas fa-envelope"></i>
                info@ecoshop.com
              </p>
          </div> <!--DIV footer__info-->
          <div class="footer__info2">
                <h6>Shop</h6>
                <ul class="link">
                    <li><a href="#.">About Us</a></li>
                    <li><a href="#.">Career</a></li>
                    <li><a href="#.">Shipping Methods</a></li>
                    <li><a href="#.">Contact</a></li>
                    <li><a href="#.">Support</a></li>
                    <li><a href="#.">Retailer</a></li>
                  </ul>
          </div> <!--DIV footer__info2-->

          <div class="footer__info2">
            <h6>MY ACCOUNT</h6>
            <ul class="link">
                <li><a href="#.">Login</a></li>
                <li><a href="#.">My Account</a></li>
                <li><a href="#.">My Cart</a></li>
                <li><a href="#.">Wishlist</a></li>
                <li><a href="#.">Checkout</a></li>
              </ul>
      </div>
      </div>
  </footer>
</body>
</html>