<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/header') %>

<section class="container-lista">

    <div class="listaProductos">
        <h1 class="listaProductos__titulo">LISTA DE PRODUCTOS</h1>
        <a href="/editorProductos" class="btn__texto">Agregar Producto</a>

        <div class="editarProd">
            <img src="img/chair1.jpg"
            class="editarProd__imagen">
            <h2 class="editarProd__titulo">Nombre de producto</h2>
            <a href="/editorProductos" class="editarProd__btn">Editar</a>
        </div>

        <div class="editarProd">
            <img src="img/chair1.jpg"
            class="editarProd__imagen">
            <h2 class="editarProd__titulo">Nombre de producto</h2>
            <a href="/editorProductos" class="editarProd__btn">Editar</a>
        </div>

        <div class="editarProd">
            <img src="img/chair1.jpg"
            class="editarProd__imagen">
            <h2 class="editarProd__titulo">Nombre de producto</h2>
            <a href="/editorProductos" class="editarProd__btn">Editar</a>
        </div>

        <div class="editarProd">
            <img src="img/chair1.jpg"
            class="editarProd__imagen">
            <h2 class="editarProd__titulo">Nombre de producto</h2>
            <a href="/editorProductos" class="editarProd__btn">Editar</a>
        </div>
    </div>
</section> 
  <%- include('./layout/head') %>
</body>
</html>