.listaProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 50px auto;
}

.listaProductos__titulo{
    font-size: 30px;
    margin-top: 5rem;
}


/*AGREGAR PRODUCTO!*/
.btn__texto{
    background-color: #ffea00;
    margin-top: 15px;
    color: #2d3a4b;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #2d3a4b;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: center;
    justify-self: flex-end;
    align-self: flex-end;
    font-weight: 500;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.editarProd{
    width: 100%;
    max-width: 415px;
    height: 100%;
    margin: 20px auto 20px auto;
    background-color: #f0f5f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f5f9;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.editarProd_image{
    width: 260px;
    height: 260px;
    max-width: 260px;
    margin: 10px auto;
    
}
.editarProd_image img{
    width: 230px;
    height: 240px;
    padding: 15px;
}
@media (min-width:768px) { 
    .editarProd{
        width: 100%; max-width: none;
        height: 20rem;
        padding: 5px;
       display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 20px;
        background-color: #f0f5f9
    }
    
    .editarProd_color select{
        text-align: center;
        width: 50%;
        height: 25px;
    }
}
.editarProd__titulo{
    font-size: 20px;
    font-weight: 400;
    color: #003049;
    text-transform: uppercase;
    margin: 10px auto;
}
.editarProd_datos p{
    font-size: 12px;
    font-weight: 400;
    color: #2d3a4b;
    margin: 10px auto;
}

.editarProd__btn{
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    background:#003049;
    width: 50px;
    height: 40px;
    padding: 10px;
    color: #f8f9fa;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #2d3a4b;
    text-decoration: none;
    text-align: center;
}
.btnEdit{
    margin: 20px 0;
}
.editarProd__btnDelete{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #e63946;
    width: 40px;
    height: 40px;
    padding: 12px;
    color: #2d3a4b;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: center;
    margin-left: 1rem;
}
.editarProd_categority{
    font-size: 18px;
    font-weight: 400;
    color: #003049;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.editarProd_prince{
    font-size: 18px;
    font-weight: 400;
    color: #003049;
    margin-bottom: 10px;
}
.editarProd_color select{
    text-align: center;
    width: 100%;
    height: 25px;
}
.editarProd__btnDelete i{
    font-size: 17px;
    color:#f8f9fa ;
}