.container-cart{
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    font-size: 10px;
}
.table-responsive{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.table-responsive thead tr th{
    padding:15px 20px;
    text-transform:uppercase;
    color:#000;
    text-align:center;
    font-weight:600;
    background-color: #f0f5f9;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 5px;
}
.table-responsive thead tr th:first-child{
    text-align:left
}
.table-responsive tbody tr td{
    padding:20px 10px;
    vertical-align:middle;
    font-size:16px
}
.table-responsive tbody tr td .form-group--number{
    max-width:100px;
    display:inline-block
}
.table-responsive tbody tr td .form-group--number input{
    border-radius:0
}
.table-responsive tbody tr td .ps-product--cart{
    max-width:500px
}
.table-responsive tbody tr td:last-child{
    text-align:right
}

.product-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product-cart > img{
    width: 5vw;
    padding-right: 5px;
    border-radius: 5px;
}

.product-cart > .product-content{
    color: #2f2f2f;
    text-align: left;
}

.table-responsive > .quantity{
    border: 1px solid #2f2f2f;
    width: 30px;
    text-align: center;
}

.nav-button{
    width: 50vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
    
}
.nav-button > .btn-cart {
    color: #2d3a4b;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px;
    font-family:'Montserrat', sans-serif;
    background: none;
    border: 1px solid #2d3a4b;
    color: #2d3a4b;
    margin-top: 20px;
    transition: all 0.200s ease;
    cursor: pointer;
    text-decoration: none;
    font-weight:600;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    text-transform: uppercase;
    border-radius: 5px;
}
.btn-cart i {
    margin: 5px;
}

.nav-button > .btn-cart:hover {
    transform: translate(-2px,-2px);
    background-color: #FEE428;
    color: #2d3a4b;
}
.nav-button > .btn-cart:active{
    transform: translate(1px,1px);
}

.nav-button > .btn-cart:hover{
    color: #2d3a4b;
}
.button-finalizar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-cart__finalizar{
    color: #2d3a4b;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px;
    font-family:'Montserrat', sans-serif;
    background: none;
    border: 1px solid #2d3a4b;
    color: #2d3a4b;
    margin-top: 20px;
    transition: all 0.200s ease;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    text-transform: uppercase;
    border-radius: 5px;
}
.btn-cart__finalizar:hover {
    transform: translate(-2px,-2px);
    background-color: #FEE428;
    color: #2d3a4b;
}
.btn-cart__finalizar:active{
    transform: translate(1px,1px);
}
.btn-cart__finalizar:hover{
    color: #2d3a4b;
}

.tabla{
    margin: 20px auto;
    background-color: #f0f5f9;
    color: #2d3a4b;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 1px;
    padding: 10px;
    font-family:'Montserrat', sans-serif;
    border: none;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 5px;
}
.tabla__subtotal{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 2px solid #2d3a4b;
}
.tabla__subtotal p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.tabla__total{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.tabla__total p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;

}
.tabla__total .precio{
    color: rgb(5, 107, 18);
}