*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	background: #FFF;
	font-weight: normal;
	position: relative;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #252525;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
	letter-spacing: 2px;
}
h5 {
	font-size: 20px;
	letter-spacing: 2px;
}
h6 {
	font-size: 16px;
	font-weight: bold;
}
p {
	font-weight: 400;
	line-height: 26px;
	text-rendering: optimizeLegibility;
}
li{
    list-style: none;
}
/*=======================================================
                     HEADER
========================================================*/

header {
    position: fixed; 
    z-index: 999;
    top:0;
	width: 100%;
	background: #fff;
    transition: margin-top 300ms ease;
}
header.sticky {
    margin-top: -20px;
    background-color: #FFE115;
    padding: 0;
}
.header-top{
    width: 100%;
    padding: 10px;
    background-color:#ffff;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.header-top .container .logo{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.header-top .container .navegador{
    flex-grow: 5;
}
.logo img{
    margin: 0 auto;
}

.navegador1{
    display: none;
}

.navegador2{
    width: 100%;
    padding: 10px;
    margin: auto;
    min-width: 144px;
}
.navegador2 ul { /* Navegador2 centrado no modificar*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: -28px;
}
.navegador1 ul li {
    margin-right: 40px;
    
}
.navegador2 ul li a i {
    font-size: 1.3rem;
    color: #252525;
    margin-left: 20px;
}
.boton-menu{ /* Boton centrado no modificar*/
    width: 50px;
    margin: 0 auto;
}
.boton-menu i{
    padding: 7px;
    color: black;
    font-size: 1.4rem;
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border: #858683 solid 1.5px;
    border-radius: 6px;
    display: block;
    margin: auto;
}
.icon-acount-container{
    position:relative;
}
.icon-acount-container .menu-acount{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    vertical-align: middle;
    width:160px;
    height: 100px;
    background-color: white;
    position: absolute;
    right: -40px;
    top: 30px;
    text-align: left;
    padding: 10px 15px;
    background-color: #f0f5f9;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    
  
}

.icon-acount-container .menu-acount li{
    cursor: pointer;
    color:black;
}

.icon-acount-container:active .menu-acount{
    display:flex;
    animation: dropdown-animate 350ms ease forwards;
    animation-fill-mode: forwards;
}

@keyframes dropdown-animate{
    from{
        opacity:0%;
        transform: translate(0,-20px);
    }
    to{
        opacity:100%;
        transform: translate(0,0);
       
    }

}

/*=======================================================
                     HEADER
========================================================*/
.headerBackend{
    width: 100%;
    padding: 10px;
}
.headerBackend-container{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.logo-backend{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}
.logo-backend img{
    max-width:180px;
    height: 30px;
    width: 132px;
}
.navegador-backend1{
    display: none;
}

.botonBackend-menu i{
    padding: 6px;
    color: black;
    font-size: 1.2rem;
    background-color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    border: #858683 solid 1.5px;
    border-radius: 6px;
    display: block;
    margin: auto;
}
.navegador-backend2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navegador-profile{
    color: #252525;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
}
.fa-user-circle{
    color: #252525;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 900;
}
.userName{
    font-family: 'Montserrat', sans-serif;
    color: #252525;
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: 5px;
    font-weight: 200;


}
.btnlogout{
    font-weight: bold;
    background-color: #ec4553;
    padding: 6px;
    color: #fff;
    font-size: 1.2rem;
    width: 35px;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 6px;
    display: block;
}
.emailSession{
    font-family:'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #252525;
    text-decoration: none !important;
}
@media (min-width:768px) { 
    .botonBackend-menu{
        display: none;
    }
    .navegador-backend{
        display: block;
    }
    .navegador-backend1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    

    }
    .navegador-backend1 a{
        color: #252525;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
        transition: all 300ms ease;
    }
    .navegador-backend2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
}
.navegador-backend1 a:hover {
    color: #fddb3a;
    font-weight: bold;
  }

}