

<footer class="footer">
    <div class="footer__container">
        <div class="footer__info">
            <img src="/img/logo-foot.png">
            <p>
              <i class="fas fa-map-marker-alt"></i>
              Street No. 12, Newyork 12,
              <br>
            </p>
            <p>
              <i class="fas fa-phone-alt"></i>
              1.800.123.456789
            </p>
            <p>
              <i class="fas fa-envelope"></i>
              info@ecoshop.com
            </p>
        </div> <!--DIV footer__info-->
        <div class="footer__info2">
           
        </div> <!--DIV footer__info2-->

        <div class="footer__info2">
          <h6>MY ACCOUNT</h6>
          <ul class="link">
              <li><a href="/login">Login</a></li>
              <li><a href="/register">My Account</a></li>
              <li><a href="/cart">My Cart</a></li>
            </ul>
    </div>
    </div>
</footer>