<header>
    <div class="header-top">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png">
                </a>
            </div> <!--Termina el DIV DEL LOGO-->
            <nav class="navegador">
                <div class="navegador1">
                    <ul>
                        <li>
                            <a href="/">HOME</a>
                        </li>

                        <li>
                            <a href="/products">PRODUCTOS</a>
                        </li>
                        
                    
                    </ul>
                </div> <!-- Cierra el div del PRIMER NAVEGADOR -->
                <div class="navegador2">
                    <ul>
                        <li class="dropdown user-acc"> 
                            
                                
                               <% if(login){ %>
                                <a href="/logout" class="icon-acount-container">
                                <span class="emailSession"><%= login%></span>
                                </a>
                                <% }else{ %>
                                    <a href="/login" class="icon-acount-container">
                                    <i class="far fa-user hombre"></i>
                                    </a>

                               <% } %>
                            
                        </li>

                        <li class="dropdown user-acc"> 
                            <a href="/cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
            <div class="boton-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
    </div> <!--header-top-->
</header>