<% if (users) { %>
        
    <% users.forEach(user => { %>
    
        <header class="headerBackend">

            <div class="headerBackend-container">

                <div class="logo-backend">
                    <img src="/img/logo-foot.png">
               </div>

               <nav class="navegador-backend1"> 
                    <a href="/products/list">PRODUCTOS</a>
                    <a href="/users/">USERS</a>
                </nav>

                <div class="botonBackend-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
                <div class="navegador-backend2">
                    <div class="navegador-profile">
                        <a href="/" class="icon-acount-container">
                            <i class="fas fa-user-circle"><span class="userName"><%= user.name%></span></i>
                        </a>
                    </div>
                    <div class="navegador-logout">
                        <form method="post" action="/backend/logout" class="btn-logout">
                            <button type="submit" class="btnlogout"><i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </div> 
            </div> 
                        
                    
            </div> <!--header-top-->

        </header>
        
    <% }) %>

  <% } %>